<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<ul class="breadcrumb" style="margin:0;">
    <li><a href="#">商品管理</a></li>
    <li>查询商品</li>
</ul>
<form class="form-inline">
    <div class="row alert alert-info" style="margin:0;padding:3px;">

<!--        <div class="form-group">-->
<!--            <label class="" for="activename">学员姓名：</label>-->
<!--            <input type="email" class="form-control" id="activename" placeholder="请输入学员姓名">-->
<!--        </div>-->
<!--        <input type="button"  class="btn btn-danger"    value="查询"/>-->
        <a class="btn btn-success" href="/product/all">刷新</a>

    </div>

    <table class="table table-condensed table-striped">
        <tr>
            <th>编号</th>
            <th>主键</th>
            <th>商品名称</th>
            <th>单价</th>
            <th>图片</th>
            <th>是否热卖</th>
            <th>上架时间</th>
            <th>库存</th>
            <th>商家</th>
            <th>所属类别</th>
        </tr>
        <#list retList as bean>
        <tr>
            <td>${bean_index+1}</td>
            <td>${(bean.id)!}</td>
            <td>${(bean.product)!}</td>
            <td>${(bean.price)!}元</td>
            <td>
                <a href="${(bean.logo)!}" target="_blank">
                    ${(bean.logo)!}
                </a>

            </td>
            <td>${(bean.hot)!}</td>
            <td>${(bean.ctime)?string('yyyy-MM-dd HH:mm')}</td>
            <td>还剩${(bean.num)!}个</td>
            <td>${(bean.user)!}</td>
            <td>${(bean.category)!}</td>
        </tr>
        </#list>
    </table>

</form>
</body>
</html>
